<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Samarth Chaugulle<%= 1 + 3 %> </h1> <br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Corporis cumque id consectetur impedit recusandae. Ipsam 
        similique quia commodi possimus consequatur ad deleniti n
        ecessitatibus nam! Optio facere sit placeat pariatur, adi
        pisci rerum nobis tempora illum est? Ipsam perferendis co
        nsequatur repellat ducimus esse officiis atque excepturi 
        minus?</p>
        <ul>
            <li>mango</li>
            <li>orange</li>
            <li>temba</li>
        </ul>
</body>
</html>