<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post </title>
</head>
<body>
    <h1>Edit Your Post </h1>
    <h2>post id : <%= post.id%></h2>
    <h2>user Name  : <%= post.username%> </h2>
        <form action="/posts/<%=post.id%>?_method=PATCH" method="post">
            <textarea name="content" placeholder="Enter the New Content" ><%= post.content%></textarea>
             <button>Submit</button>
        </form>
</body>
</html>