<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details </title>
</head>
<body>
    <h1>Post Details </h1>
    <div>
            <h2>id:<%= post.id%></h2>
            <h2> username : <%= post.username%></h2>
            <h2> username : <%= post.content%></h2>
    </div>

</body>
</html>