.container
{
    width:100%;
    height: 500px;
    border: 5px solid black;
    display: flex ;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 10px;
}
.box
{
    border: 2px Solid goldenrod ;
    background-color: aqua;
    flex-basis: 50px;
    
}
#box1
{
    order:10;
    flex-shrink:3 ;
}
#box2
{
    order: 20;
    align-self: stretch;
}
#box3
{
    order: 30;
}
#box4
{
    order: 25;
}